services:
  db:
    image: mysql:8.4.3 # 使用稳定版本的 MySQL
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: root # MySQL 根用户密码
      MYSQL_DATABASE: cms # 默认数据库名
    volumes:
      - mysql_db:/var/lib/mysql # 持久化 MySQL 数据
      - ./init-scripts:/docker-entrypoint-initdb.d # 初始化 SQL 文件路径（可选）
    ports:
      - 3306:3306 # 映射 MySQL 默认端口（可选，方便调试）
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3 # 最大重启次数
  redis:  # 服务名称
    image: redis:8.0.1  # 使用官方 Redis 镜像
    container_name: my_redis  # 自定义容器名称（可选）
    restart: always  # 容器崩溃时自动重启
    ports:
      - "6379:6379"  # 映射宿主机 6379 → 容器 6379（Redis 默认端口）
    volumes:
      - ./redis_data:/data  # 持久化数据到本地目录（可选）
    command: redis-server --appendonly yes  # 启用 AOF 持久化（可选）
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 1024:8080 # 映射到本地端口
    depends_on:
      db:
        condition: service_healthy # 依赖健康状态的服务
    networks:
      - app_network
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3 # 最大重启次数

volumes:
  mysql_db: # 定义持久化卷

networks:
  app_network: # 定义网络
